{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset='UTF-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type='text/javascript' src="{% static 'js/login.js' %}" defer></script>
    </head>

    <body>
        <div class = 'card' id = 'banner'>
            {% load static %}
            <a class = 'text' href = "{% url 'homepage' %}"> <img class='img' src = "{% static 'images/homepage%20icon' %}" alt='homepage'></a>
            <a class = 'text links' href = "{% url 'login' %}">Register/Login</a>
            <a class = 'text links' href = "{% url 'labInfo' %}" onclick = 'return allow_access()'>View lab info</a>
            <a class = 'text links' href = "{% url 'addNewLab' %}" onclick = 'return allow_access()'>Add a new lab</a>
            <a class = 'text links' href = "{% url 'report' %}" onclick = 'return allow_access()'>Report a problem</a>
            <a class = 'text links' href = "{% url 'AddNewPCs' %}" onclick = 'return allow_access()'>Add pc to lab</a>
            <a class = "text links" href = "{% url 'list of pc' %}" onclick = 'return allow_access()'>Damaged PCs</a>
        </div>
        
        
        <div class = 'loginbox'>
            {% load static %}
            <img src = "{% static 'images/login.png' %}" class = 'avatar'/>
                
            <div class = 'button-box'>
                <div id='btn'></div>
                <button type = 'button' class = 'toggle-button' onclick = 'displayRegister()'>Register</button>
                <button type = 'button' class = 'toggle-button' onclick = 'displayLogin()'>Login</button>
            </div>
                
            <div id = 'register_login_box'>
                <form method = "post" onsubmit='return false'>
                    
                    <p>Username</p>
                    <input type = 'text' id='username' placeholder='Enter New Username'/>
                    <p>Password</p>
                    <input type = 'password' id='password' placeholder='Enter New Password'/>
                    <p>Confirm Password</p>
                    <input type = 'password' id='confirm-password' placeholder='Confirm New Password'/>
                    <br>
                    
                    <input type = 'submit' id='register-btn' value = 'Register' onclick='register()'/>

                </form>
                
            </div>
        </div>
    </body>
</html>